﻿@using System.Collections.Generic;

@{ 
    List<string> RPSoptions = new List<string>
    {
        "Rock",
        "Paper",
        "Scissors",
    };

    foreach (string x in RPSoptions)
    {
        <h2>@x</h2>
    }
}